body{
	background:url(../Imagenes/Fondo_1.1.jpg);
	background-repeat: no-repeat;
	background-size:3000px 8000px;
}
.img{
	float: left;
	margin: 10px;
	border: solid red 5px; 
}
h1{
	position: relative;
	left: 45%;
	color: yellow;
}